[Desktop Entry]
Name=xfce4-tips
Name[am]=የሸፍሲ ምክሮች
Name[ar]=نصائح xfce4
Name[ast]=conseyos de xfce4
Name[be]=xfce4-tips
Name[bn]=xfce4-পরামর্শ
Name[ca]=Consells de Xfce
Name[cs]=xfce4-tips
Name[da]=xfce4-tips
Name[de]=Xfce4-Tipps
Name[dz]=ཨེགསི་ཨེཕ་སི་ཨི་༤-སླབ་བྱ།
Name[el]=Συμβουλές του xfce4
Name[en_GB]=xfce4-tips
Name[eo]=xfce4-tips (Xfce 4 arkanoj)
Name[es]=consejos de xfce4
Name[et]=xfce4 näpunäited
Name[eu]=xfce4-gomendioak
Name[fi]=xfce4-vinkit
Name[fr]=astuces-xfce4
Name[gl]=Consellos do xfce4
Name[gu]=xfce4-tips
Name[he]=טיפים של Xfce4
Name[hr]=xfce4-savjeti
Name[hu]=Xfce-tippek
Name[id]=xfce4-tips
Name[it]=xfce4-tips
Name[ja]=Xfce4 チップス
Name[kk]=xfce4-tips
Name[ko]=xfce4-비법
Name[lv]=xfce4-tips
Name[mk]=xfce4-tips
Name[ms]=xfce4-tip
Name[nb]=Xfce4 Tips
Name[nl]=xfce4-tips
Name[pl]=xfce4-tips
Name[pt]=xfce4-tips
Name[pt_BR]=xfce4-tips
Name[ro]=xfce4-tips
Name[ru]=подсказки xfce4
Name[si]=xfce4-ඉඟි
Name[sk]=xfce4-tipy
Name[sq]=ndihmëza xfce4
Name[sv]=xfce4-tips
Name[tr]=xfce4-tips
Name[ug]=Xfce4 ھۈنەرلىرى
Name[uk]=підказки xfce4
Name[ur]=ایکسفس4-ٹِپس
Name[ur_PK]=ایکسفس4-ٹِپس
Name[vi]=xfce4-tips
Name[zh_CN]=Xfce4-提示
Name[zh_TW]=xfce4-tips
Comment=Tips and tricks
Comment[am]=ምክሮች
Comment[ar]=النصائح والإرشادات
Comment[ast]=Conseyos y trucos
Comment[be]=Каштоўныя парады
Comment[bn]=পরামর্শ ও কৌশল
Comment[ca]=Consells i suggeriments
Comment[cs]=Tipy a triky
Comment[da]=Tips og tricks
Comment[de]=Tipps beim Starten anzeigen
Comment[dz]=སླབ་བྱ་དང་འཁྲུལ་ཐབས།
Comment[el]=Συμβουλές και κολπάκια
Comment[en_GB]=Tips and tricks
Comment[eo]=Arkanoj
Comment[es]=Consejos y trucos
Comment[et]=Näpunäited ja trikid
Comment[eu]=Gomendio eta Laguntza
Comment[fi]=Vinkkejä ja kikkoja
Comment[fr]=Trucs et astuces
Comment[gl]=Consellos e trucos
Comment[gu]=મદદો અને તરકીબો
Comment[he]=טיפים וטריקים
Comment[hr]=Savjeti i trikovi
Comment[hu]=Tippek és trükkök
Comment[id]=Tips dan trik
Comment[it]=Suggerimenti e trucchi
Comment[ja]=チップとトリック
Comment[kk]=Кеңестер мен қулықтар
Comment[ko]=비법 전수
Comment[lv]=Padomi un triki
Comment[mk]=Трикови и совети
Comment[ms]=Tip dan Trik
Comment[nb]=Tips og triks
Comment[nl]=Tips en Trucs
Comment[pl]=Sztuczki i kruczki
Comment[pt]=Dicas e truques
Comment[pt_BR]=Dicas e truques
Comment[ro]=Sfaturi și trucuri
Comment[ru]=Полезные советы
Comment[si]=ඉඟි හා උපායන්
Comment[sk]=Tipy a triky
Comment[sq]=Ndihmëza dhe rrengje
Comment[sv]=Tips och trick
Comment[tr]=İpuçları ve İncelikler
Comment[ug]=ئەسكەرتمە ۋە ھۈنەرلەر
Comment[uk]=Корисні поради
Comment[ur]=ٹِپ اور ٹِرکس
Comment[ur_PK]=ٹِپ اور ٹِرکس
Comment[vi]=Thủ thuật và mách nước
Comment[zh_CN]=提示与技巧
Comment[zh_TW]=秘訣與撇步
Exec=xfce4-tips
Icon=xfce4-logo
Terminal=false
Type=Application
OnlyShowIn=XFCE;
Hidden=false
