[user]
	name = Adrian Hodos
	email = adi.hodos@gmail.com
[core]
	editor = vim
	autocrlf = input
[color]
	branch = always
	diff = always
	grep = always
	interactive = always
	showbranch = always
	status = always
	ui = always
[help]
	format = html
	browser = chrome
[merge]
	tool = extMerge
[mergetool "diffmerge"]
  cmd = extMerge "$PWD/$LOCAL" "$PWD/$BASE" "$PWD/$REMOTE" "$PWD/$MERGED" 
  trustExitCode = false
  keepBackup = false
[web]
	browser = chrome
[diff]
	external = "C:/opt/utils/git_mergetools/extDiff"
[github]
	user = adihodos
	token = 08e8b4227fffcdc6c54b90c4324543fb
