[user]
    name = Adi Hodos
    email = adi.hodos@gmail.com
[core]
    pager = most
    autocrlf = input
    editor = runemacs -mm
[color]
    ui = always

[help]
	format = web

[diff]
	tool = winmerge
[difftool "winmerge"]
	cmd = winmergeu -e -ul -ur -maximize \"$REMOTE\" \"$LOCAL\"

[difftool]
        prompt = false

[merge]
	tool = winmerge
[mergetool "winmerge"]
	cmd = winmergeu -e -ul -ur -maximize \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
  trustExitCode = false
  keepBackup = false

[github]
	user = adihodos
	token = 08e8b4227fffcdc6c54b90c4324543fb