[user]
	name = Adi Hodos
	email = adi.hodos@gmail.com
[core]
	editor = gvim -n -f $*
	pager = most
	autocrlf = input
[color]
	ui = always
[merge]
  tool = p4merge
[mergetool "p4merge"]
  cmd = git_mergewrapper.sh "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
  trustExitCode = false
  keepBackup = false
[diff]
  #external = git_diffwrapper.sh
  tool = p4merge
[difftool "p4merge"]
  cmd = p4merge "$LOCAL" "$REMOTE"
[web]
	browser = chrome
[help]
	browser = chrome
	format = html
