[user]
    name = Adi Hodos
    email = adi.hodos@gmail.com
[core]
    pager = most
    autocrlf = input
    editor = emacs -mm
[color]
    ui = always

[help]
	format = web

[diff]
	tool = p4merge
[difftool "p4merge"]
	cmd = \"$LOCAL\" \"$REMOTE\"

[difftool]
        prompt = false

[merge]
	tool = p4merge
[mergetool "p4merge"]
	cmd = \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[github]
	user = adi.hodos@gmail.com
	token = 08e8b4227fffcdc6c54b90c4324543fb
