/set type=dir uname=root gname=wheel mode=0755
.              
    etc            
        CORBA          
            servers        
            ..
        ..
        X11            
            serverconfig   
            ..
            starthere      
            ..
            sysconfig      
            ..
        ..
        gconf          
            gconf.xml.defaults
            ..
            gconf.xml.mandatory
            ..
            gconf.xml.system
            ..
            schemas        
            ..
        ..
        gnome          
            config         
            ..
        ..
        gnome-vfs-2.0  
            modules        
            ..
        ..
        sound          
            events         
            ..
        ..
        vfs            
            modules        
            ..
        ..
        xdg            
            autostart      
            ..
        ..
    ..
    include        
        gconf          
        ..
        gdkcardimage   
        ..
        gnome-1.0      
        ..
    ..
    lib            
        GConf          
        ..
        bonobo         
            monikers       
            ..
            plugin         
            ..
        ..
        gnome-vfs-2.0  
            modules        
            ..
        ..
        vfs            
            modules        
            ..
        ..
    ..
    libdata        
        bonobo         
            servers        
            ..
        ..
    ..
    share          
        applets        
            Amusements     
            ..
            Clocks         
            ..
            Monitors       
            ..
            Multimedia     
            ..
            Network        
            ..
            Utility        
            ..
        ..
        application-registry
        ..
        capplets       
        ..
        control-center 
            Desktop        
            ..
            Documents      
            ..
            Peripherals    
            ..
            Session        
            ..
            capplets       
            ..
            keybindings    
            ..
        ..
        control-center-2.0
            capplets       
            ..
        ..
        doc            
            libgda         
            ..
        ..
        games           gname=wheel mode=02775
        ..
        gnome          
            apps           
                Applications   
                ..
                Audio          
                ..
                Development    
                ..
                Games          
                ..
                Graphics       
                ..
                Internet       
                ..
                Multimedia     
                ..
                Settings       
                    Desktop        
                    ..
                    Documents      
                    ..
                    Peripherals    
                    ..
                    Session        
                    ..
                ..
                System         
                ..
                Utilities      
                ..
            ..
            autostart      
            ..
            help           
                fdl            
                    C              
                    ..
                ..
                gpl            
                    C              
                    ..
                ..
                lgpl           
                    C              
                    ..
                ..
            ..
            panel          
            ..
            ui             
            ..
            wm-properties  
            ..
        ..
        gnome-2.0      
            ui             
            ..
        ..
        gnome-about    
        ..
        gnome-control-center
            keybindings    
            ..
        ..
        images         
        ..
        mc             
            templates      
            ..
        ..
        mime-info      
        ..
        oaf            
        ..
        omf            
        ..
        pixmaps        
            document-icons 
            ..
            splash         
            ..
        ..
        sgml           
            docbook        
                gnome-customization-0.1
                ..
            ..
        ..
        sounds         
        ..
        vala           
            vapi           
            ..
        ..
        vfolders       
        ..
        xmodmap        
        ..
    ..
..
